* {
   box-sizing: border-box !important;
   margin: 0;
   padding: 0;
}

html,
body {
   overflow-x: hidden !important;
   height: 100% !important;
   width: 100% !important;
   min-height: 100% !important;
   min-width: 100% !important;
}

a {
   text-decoration: none !important;
}

body {
   position: absolute;
   display: flex;
   flex-direction: column;
}

.container-fluid {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   position: absolute;
   min-height: 100%;
   padding: 56px 5rem 56px 5rem;
}

.col-lg-6 {
   padding: 3em 2em !important;
}

.nouline {
   text-decoration: none !important;
}

.rowItem {
   padding: 1rem;
   border: 1px solid white;
   margin: 1rem;
   flex: 0 1 20rem;
   width: 20rem;
}

.rowItem>img {
   width: inherit;
   padding: 1rem;

}

.home-bg {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url(../img/img4.jpg) !important;
   background-size: cover;
   background-attachment: fixed;
}

.jumbotron {
   margin: .25rem;
}

.card {
   width: 18rem !important;
}

.card>img {
   border-radius: 10px;
   padding-left: .25rem;
   padding-right: .25rem;
}

.form-login {
   margin-top: 5rem;
   min-width: 10rem;
   display: flex;
   flex-direction: column;
}

.form-login>button {
   margin-top: 1em;
   width: 10em;
   align-self: center;
}

.bg-blue {
   background-color: rgb(25, 62, 110);
}
